@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Inter',sans-serif;
}

.login{
    width: 25%;
    height: 100vh;
}

.logo{
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo img{
    width: 60%;
}

form{
    height: 25vh;
}

.boxForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.boxForm div{
    width: 80%;
    margin:5px;
    padding: 3px 0 0 8px;
    border-radius: 5px;
    background-color: rgb(218, 214, 214);
}

.boxForm label{
    font-size: 0.6rem;
}

.boxForm div input{
    background-color: rgb(218, 214, 214);
    border: none;
    width: 95%;
}

.checkbox{
    margin:10px 5px 0 25px;
}
.checkbox label{
    font-size: 0.8rem;
    font-weight: 600;
}

fieldset{
    border :none;
    margin-top:  10px;
}

legend{
    text-align: center;
}

.conta{
    margin-left: 5px;
}

.conta button{
    margin:5% 0% 1% 8%;
    width: 5vw;
    border:none;
    border-radius: 3px;
    cursor:pointer;
}

.facebook{
    background-color: #2051FF;
    height: 5vh;
}
.google{
    background-color: #8A0000;
    height: 5vh;
}
.apple{
    background-color:black;
    height: 5vh;

}

button img{
    width: 1.5vw;
    padding-top: 4px;
}


.seta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 29vh;
}
.seta button{
    background-color: #FF002E;
    width: 4vw;
    height: 8vh;
    border-radius: 8px;
    margin: 10px;
}

p{
    font-size: 0.8rem;
    margin: 5px;
}

a{
    color: #A6A6A6;
    text-decoration: none;
}

.imgLol{
    width: 75vw;
    height: 92vh;
    background-image: url(./imgs/ImgLOL.png);
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    top:-112%;
    right: -25%;
}

main{
    
    height:90vh;
}